[Unit]
Description=Task Queue as a system service
Wants=cgconfig.service
After=rabbitmq-server.service

[Service]
Environment="FOREGROUND=true"
Type=simple
ExecStart=/usr/local/dlib/task-queue/workersctl start
ExecStop=/usr/local/dlib/task-queue/workersctl stop
PrivateTmp=yes

[Install]
WantedBy=multi-user.target
