[Unit]
Description=Task Queue as a system service

[Service]
Environment="FOREGROUND=yes"
Type=simple
ExecStart=/usr/local/dlib/task-queue/workersctl start
ExecStop=/usr/local/dlib/task-queue/workersctl stop
PrivateTmp=yes

[Install]
WantedBy=multi-user.target
